body {
    font-family: Roboto;
    background-color: rgba(222, 170, 121, 0.132);
}

#hero {
    background-color: hsla(0, 0%, 0%);
}

#about, #portfolio{
    min-height: 550px;
}


.background-color{
    /*background-color: rgba(222, 170, 121, 0.105);*/
}


/*https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero*/
.hero-image {
    background-image: url("images/leaf-texture.jpg");

    /*background: url("images/noble-castle-wide.jpg");*/
    /*background: hsla(0, 0%, 0%, 0.3); */
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}

/*
Green:
https://colorhunt.co/palette/d3f1df85a98f5a6c57525b44 

Brown:
https://colorhunt.co/palette/deaa79ffe6a9b1c29e659287
*/
.mid-container {
    height: 5px;
    background-color: rgb(211, 241, 223);
    border-radius: 2px;
}

.middle-image {
    background-image: url("images/leaves.jpg");
    background-attachment: fixed;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
}

.box-shadow-div{
    box-shadow: 0 5px 8px rgba(136, 136, 136, 0.386);
}

.hover-zoom{
    transition: transform .3s, box-shadow .3s;
}
.hover-zoom:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 8px rgba(136, 136, 136, 0.386);
}

a{
    text-decoration: none;
    color: inherit;
    /* zoom effect
    display: inline-block;
    overflow: hidden;*/
}

a img{
    opacity: 0.8;
    transition: .3s;
    /*transform: translateZ(0) scale(1);*/
    /*zoom effect https://stackoverflow.com/questions/40319228/zoom-on-image-inside-div-without-div-moving
    display: block;*/
}
a:hover img{
    opacity: 1;
    /*transform: translateZ(0) scale(1.02);*/
    /*zoom effect
    transform: scale(1.3);
    transform-origin: 50% 50%;*/
}

/*
a img:hover{
    opacity: 1;
}*/

/*
#hero-h2, #hero-p{
    
}
*/